* {
  box-sizing: border-box;
}

body {
  font-family: Castellar ;
}

header {
  background-color: #ff6a00;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  border-radius: 0px;


}

article {
	float: right;
	padding: 20px;
	width: 70%;
	background-color: #ff006e;
	height: 500px;
	border-radius: 0px;
	font-size: 18px;
	color: white;
	font-family: Century;
	text-decoration: double;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

td {
	margin: auto;
}

footer {
  background-color: #1abc9c;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 25px;
}

#error
{
	float: right;
	padding: 20px;
	width: 30%;
	background-color: #ff006e;
	height: 500px;
	border-radius: 0px;
	color: red;
}

.navbar a {
  color: forestgreen;
  text-align: center;
  padding: 14px 20px;
  text-decoration: underline;
  background-color:black;
}

.navbar a:hover {
  background-color: #1abc9c;
  color: white;
}